@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

table tr td
{
padding: 5px; 
}
.nameInput{
    width: 363px;
    height: 26px;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding-left: 5px;
    color: #aaa;
}

.btValider{
    justify-content: center;
    align-items: center;
    padding: 6px 15px;  
    background-color: #118c40;
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
    border: 0;
    margin-left: 5px;
    font-weight: bold;
    box-shadow: 1px 1px 3px #555;
}
.btValider:hover{
    background-color: #0e6931;
}
.btSupprimer{
    justify-content: center;
    align-items: center;
    padding: 6px 15px;  
    background-color: #d11717;
    border-radius: 8px;
    font-size: 14px;
    color: #fff; 
    border: 0;
    font-weight: bold;
    box-shadow: 1px 1px 3px #555;
}
.btSupprimer:hover{
    background-color: #920d0d;
}
.listeNom{
       width: 244px;
    }
.text-center{
    text-align: center;
}
.teteTab{
    height: 35px;
    background: #ccc;
    font-weight: bold;  
}
.rowTab{
    background: #EAEAEA;
}
.cursor{
    cursor: pointer;  
}
